body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 35px;
    background-color: lavender;
}

h1 {
    text-align: center;
    font-family: "Bubblegum Sans";
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flexible-box {
    border: 2px solid black;
    background-color: rgb(170, 150, 211);
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 1250px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Bubblegum Sans";
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .flexible-box {
        padding: 15px;
        font-size: 18px;
        border-radius: 15px;
    }
}

@media (max-width: 480px) {
    .flexible-box {
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
    }
}

rect {
    stroke: black;
    fill: rgb(170, 150, 211);
    stroke-width: 2;
    rx: 25;
    ry: 25;
}
text {
    font-family: "Bubblegum Sans";
}
