* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 35px;
    overflow-x: hidden;
    max-width: 100vw;
    background-color: lavender;
}

h1 {
    text-align: center;
    font-family: "Bubblegum Sans";
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flexible-box {
    border: 2px solid black;
    background-color: rgb(170, 150, 211);
    border-radius: 12px;
    padding: 20px 20px;
    width: calc(100vw - 40px);
    margin: 20px auto;
    max-width: 1250px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Bubblegum Sans";
    font-size: 24px;
}

rect {
    stroke: black;
    fill: rgb(170, 150, 211);
    stroke-width: 2;
    rx: 25;
    ry: 25;
}
text {
    font-family: "Bubblegum Sans";
}
